\#*
*~
.#*
\#*\#
*.class
.idea
*.iml
.gradle
local.properties
build
cli/config.json
cli-main/cli-main
cli/worker/worker
cli/httpd/httpd
*.dat
docker/scripts/generate_dockerfiles/generate_dockerfiles
.DS_Store
tools/tools
cli/envcheck/envcheck
cli/update-wrapper/update-wrapper
