[Unit]
Description=Announce CBFS
BindsTo=cbfs_node@%i.service
After=cbfs_node@%i.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl set /couchbase.com/cbfs/cbfs_node@%i '{ \"host\": \"%H\"}' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /couchbase.com/cbfs/cbfs_node@%i

[X-Fleet]
MachineOf=cbfs_node@%i.service