[Unit]
Description=cbfs_node

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill cbfs
ExecStartPre=-/usr/bin/docker rm cbfs
ExecStartPre=-/usr/bin/docker pull tleyden5iwx/cbfs
ExecStartPre=/bin/bash -c 'echo Starting cbfs nodeid: $COREOS_PRIVATE_IPV4'
ExecStart=/usr/bin/docker run --name cbfs --env-file /etc/environment -v /var/lib/cbfs/data:/var/lib/cbfs/data --net=host tleyden5iwx/cbfs bash -c "refresh-cbfs feature/tleyden; cbfs -nodeID=${COREOS_PRIVATE_IPV4} -bucket=cbfs -couchbase=http://${COREOS_PRIVATE_IPV4}:8091/ -root=/var/lib/cbfs/data -viewProxy"
ExecStop=/usr/bin/docker stop cbfs

[X-Fleet]
Conflicts=cbfs_node*.service