[Unit]
Description=elastic_thought_cpu

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill elastic_thought_cpu
ExecStartPre=-/usr/bin/docker rm elastic_thought_cpu
ExecStartPre=-/usr/bin/docker pull tleyden5iwx/elastic-thought-cpu-develop

ExecStart=/usr/bin/docker run --name elastic_thought_cpu  --net=host tleyden5iwx/elastic-thought-cpu-develop bash -c 'refresh-elastic-thought; elastic-thought'
ExecStop=/usr/bin/docker stop elastic_thought_cpu

[X-Fleet]
Conflicts=elastic_thought_cpu*.service